<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yqx.dao.BooksMapper">
    <insert id="addBooks" parameterType="Books">
        insert into books (bookName, bookCounts, detail)
        values (#{bookName},#{bookCounts},#{detail});
    </insert>

    <delete id="deleteBooksById" parameterType="int">
        delete from books where bookId = #{bookId};
    </delete>

    <update id="updateBooks" parameterType="Books">
        update books
        set bookName = #{bookName},
            bookCounts = #{bookCounts},
            detail = #{detail}
        where bookId = #{bookId};
    </update>
    
    <select id="selectById" resultType="Books">
        select *
        from books
        where bookId = #{bookId};
    </select>

    <select id="selectAll" resultType="Books">
        select *
        from books;
    </select>
</mapper>