<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1. 无参构造方法创建对象 -->
    <!--<bean class="com.trans.pojo.User" id="com.trans.user">
        <property name="name" value="zhangsan" />
    </bean>-->

    <!-- 2. 有参构造方法创建对象 需要使用到构造器 -->
    <!--<bean class="com.trans.pojo.User" id="com.trans.user">
        &lt;!&ndash; index为下标索引 value为具体的值 &ndash;&gt;
        <constructor-arg index="0" value="我也不知道"/>
    </bean>-->

    <!-- 3. 有参构造方法创建对象 通过参数类型进行创建
            不建议使用 如果参数全部是String类型 该如何是好? -->
    <!--<bean class="com.trans.pojo.User" id="com.trans.user">
        <constructor-arg type="java.lang.String" value="String类型" />
    </bean>-->

    <!-- 4. 通过 -->
    <!-- id  bean的唯一标识符,也相当于别名
         class-->
    <bean class="com.trans.pojo.User" id="com.yqx.user">
        <constructor-arg name="name" value="通过name方式传入" />
    </bean>

    <!-- 如果增加了别名,我们可以使用别名获取到这个对象 -->
    <alias name="com.yqx.user" alias="userAlias"/>


</beans>