<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis核心配置文件 -->
<configuration>
    <!-- 配置数据源 交给Spring去做 -->

    <!-- 设置别名 -->
    <typeAliases name="com.yqx.pojo" />

    <!-- mapper映射 -->
    <mappers>
        <mapper class="com.yqx.dao.BooksMapper" />
    </mappers>

</configuration>