<?xml version="1.0" encoding="UTF8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用Spring 创建对象  在Spring中 这些都称为bean -->
    <!--
        id = 变量名;
        class = 要new的对象全路径;
        property = 属性
            name = 对象的字段
            value = 设置默认值
     -->
    <bean id="hello" class="com.trans.pojo.Hello">
        <property name="name" value="Spring" />
    </bean>


</beans>