<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 扫描包注解 指定扫描的包,这个包下的注解就会实现 -->
    <context:component-scan base-package="com.yqx.pojo" />

    <!-- 使用注解的方式 必须要配置支持注解 -->
    <context:annotation-config />

    <!--<bean class="com.yqx.pojo.User" id="com.yqx.user" />-->



</beans>